/* ------------------------------------------------------------------------------ */
/*                                  COLOR PALETTE                                 */
/* BACKGROUND: #3D210C (dark brown)
 * TEXT: #F2E5A5 (beige)
 * BUTTONS: #438C68 (dark green)
 * BORDERS and some hover: #B1B583 (light green)
 * ADDITIONAL COLOR and button hover: #EB3B3B (cherry red)
 * ADDITIONAL COLOR: #69421b (lighter brown)
 * Reference: http://www.colourlovers.com/palette/1784980/DESIGN_is_retro!
 */
/* ------------------------------------------------------------------------------ */



.root {
	-fx-font-family: Verdana, Geneva, sans-serif;
	-fx-background-color: #3D210C;
	-fx-text-fill: #F2E5A5;
}


.label{
	-fx-text-fill: #F2E5A5;
}

#stats {
	-fx-font-size: 16px;
}



.nobility-track-pane {
	-fx-background-image: url("/images/nob_track_background.png");
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100% 100%;
	-fx-backgorund-insets: 10px;
	-fx-border-insets:10px;
}

.nobility-track-pane .bonus-pane {
	-fx-padding: 40px 0px 0px 0;
	
	-fx-alignment: center;
}
.nobility-track-pane .bonus-pane * {
	-fx-text-fill: #F2E5A5;
}

.permit-pane{
	pref-width:20px;
}

.board-pane {
	-fx-background-image:url("/images/nob_pane_background.png");
	-fx-background-repeat: repeat;
	-fx-background-size:272px 188px;
}

.accordion .titled-pane *.content {
	-fx-background-image:url("/images/nob_pane_background.png");
}


.accordion .titled-pane *.content > * {
	-fx-text-fill: #F2E5A5;
}

.accordion .titled-pane .title {
	-fx-background-color: #69421b;
}


.accordion .titled-pane {
	-fx-text-fill: #F2E5A5;
}


#isyturn {
	-fx-text-fill: #ae1e1e;
}

.button {
	-fx-background-color: #438C68;
	-fx-text-fill: #F2E5A5;
	-fx-border-style: solid;
	-fx-border-radius: 2px;
	-fx-border-color: #B1B583;
	-fx-font-size: 11px;
}

.button:hover {
	-fx-background-color: #EB3B3B;
}



#map,
#info {
	-fx-background-image:url("/images/nob_pane_background.png");
}




/* ------------------------------------------------------------------------------------- */
/** MAP DETAILS CSS **/
/* ------------------------------------------------------------------------------------- */


.city-label {
	-fx-text-fill: #3D210C;
	-fx-effect: dropshadow( one-pass-box , #c5c5c5 , 2 , 1.0 , 0 , 0 );
}

.bonus-pane,
.crown {
	-fx-effect: dropshadow( one-pass-box , #3D210C, 8 , 0.2 , 2 , 0 );
}


/* ------------------------------------------------------------------------------------- */
/** ALERT DIALOG CSS**/
/* ------------------------------------------------------------------------------------- */

.alert-dialog,
.header-panel,
.alert .header-panel{
	-fx-background-color: #3D210C;
}


/* ------------------------------------------------------------------------------------- */
/** SCROLL BAR CSS**/
/* ------------------------------------------------------------------------------------- */

.scroll-bar {
	-fx-background-color: transparent;
}

.scroll-bar .decrement-button,
.scroll-bar .increment-button {
	-fx-background-color: #3D210C;
	-fx-border-color: #69421b;
}

.scroll-bar .track {
	-fx-background-color: #69421b;
}

.scroll-bar .thumb {
	-fx-background-color: #3D210C;
}


.scroll-bar:hover .thumb,
.scroll-bar:pressed .thumb {
	-fx-background-color: #B1B583;
}

.scrollpane, .scrollpane > *, .scrollpane > * > *  {
	-fx-background-color: transparent;
}

/* ------------------------------------------------------------------------------------- */
/* CONNECTION WINDOW CSS */
/* ------------------------------------------------------------------------------------- */


#connectionwindow {
	-fx-background-image:url("/images/connectionwallpaper.png");
}

.radio-button {
	-fx-text-fill: #F2E5A5;
}



/* Deleting HIGHLIGHT on buttons and text fields */

.radio-button:focused,
.text-field:focused,
.combo-box:focused,
.slider:focused,
.spinner:focused,
.check-box:focused,
.titled-pane:focused,
#username:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}




/* ------------------------------------------------------------------------------------- */
/* BOARD CONFIGURATION PANE CSS */
/* ------------------------------------------------------------------------------------- */

#boardConfigPane, 
#generate,
#load {
	-fx-background-color: #3D210C;
}

.scroll-pane,
.accordion {
	-fx-background-color: #3D210C;	
}

.check-box {
	-fx-text-fill: #F2E5A5;
}


/* ------------------------------------------------------------------------------------- */
/* MARKET & PREMARKET PANE CSS */
/* ------------------------------------------------------------------------------------- */

#maingridmarket,
#mainbuymarket,
#gridbuymarket,
#gridmarket,
.grid-pane {
	-fx-background-color: #3D210C;
	-fx-padding-top: 20px;
	-fx-padding-left: 30px;
}


